<a href="https://colab.research.google.com/github/andiniaufaputri/KKAsmt1/blob/main/1_Fungsi_print_Andini_Aufa_Putri_Xl_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#menampilkan teks bebas

In [ ]:
print("halo dunia")

halo dunia

In [ ]:
print("selamat datang di python")

selamat datang di python

In [ ]:
print("Andini Aufa Putri")

Andini Aufa Putri

#Menampilkan Nilai Variabel

In [ ]:
BB = 50
print(BB)

50

In [ ]:
UMUR = 16
print(UMUR)

16

In [ ]:
nama = "Andini Aufa Putri"

#Menampilkan Variabel dan Teks Bebas

In [ ]:
print (f"umur saya {UMUR} tahun")

umur saya 16 tahun

In [ ]:
print ("Halo " + nama)

Halo Andini Aufa Putri

#Menampilkan Teks Bebas dan Variabel

In [ ]:
harga_telur = 26000
print("Harga telur per 1 kg adalah", harga_telur)

Harga telur per 1 kg adalah 26000

In [ ]:
harga_telur = 26000
print("Harga telur per 1 kg adalah " + str(harga_telur))

Harga telur per 1 kg adalah 26000

In [ ]:
nama_pembeli = "Andini"
print("Nama pembeli telur adalah " + nama_pembeli)

Nama pembeli telur adalah Andini

Latihan soal
1. Tampilkan teks bebas: Hari ini saya bahagia belajar bahasa python
2. Tampilkan nilai variabel: mata_pelajaran_favorit = Kode dan Kecerdasan Buatan
3. Tampilkan nilai variabel: nilai_kka = 100
4. Tampilkan teks bebas dan nilai variabel dengan tiga metode (f string, "+",","):"Nilai KKA saya adalah {nilai_kka}loh!"

In [ ]:
print("Hari ini saya bahagia belajar python")

Hari ini saya bahagia belajar python

In [ ]:
mata_pelajaran_favorit="Kode dan Kecerdasan buatan"
print(mata_pelajaran_favorit)

Kode dan Kecerdasan buatan

In [ ]:
nilai_kka = 100
print(nilai_kka)

100

In [ ]:
print(f"Nilai KKA saya adalah seorang {nilai_kka} loh!")

Nilai KKA saya adalah seorang 100 loh!

In [ ]:
print("Nilai KKA saya adalah " + str(nilai_kka) + " loh!" )

Nilai KKA saya adalah 100 loh!

In [ ]:
print("Nilai KKA saya adalah", nilai_kka, "loh!")

Nilai KKA saya adalah 100 loh!

#Escape Character

In [ ]:
print("Nama: Andini Aufa Putri")
print("Kelas: Xl.1")
print("Nomor Absen: 05")

Nama: Andini Aufa Putri
Kelas: Xl.1
Nomor Absen: 05

In [ ]:
print("Nama\t\t: Andini Aufa Putri\nKelas\t\t: Xl.1\nNomor absen\t: 05")

Nama		: Andini Aufa Putri
Kelas		: Xl.1
Nomor absen	: 05

In [ ]:
print("""Nama: Andini Aufa Putri
Kelas: Xl.1
Nomor Absen: 05""")

Nama: Andini Aufa Putri
Kelas: Xl.1
Nomor Absen: 05

In [ ]:
print('Ja\'far shodiq')

Ja'far shodiq

In [ ]:
print("Ja'far shodiq")

Ja'far shodiq

In [ ]:
print("Bu Shinta berkata, \"Semua harus menyimak pelajaran.\"")

Bu Shinta berkata, "Semua harus menyimak pelajaran."

In [ ]:
print('Bu Shinta berkata, "Semua harus menyimak pelajaran."')

Bu Shinta berkata, "Semua harus menyimak pelajaran."

In [ ]:
print("Lokasi file video karnaval ada di D:\\Karnaval 2025\\mp4")

Lokasi file video karnaval ada di D:\Karnaval 2025\mp4

#Parameter Fungsi print

In [ ]:
Tahun = 2009
Bulan = "April"
Tanggal =24

print(Tanggal, end=" ")
print(Bulan, end=" ")
print(Tahun)

24 April 2009

In [ ]:
Tahun = 2009
Bulan = "April"
Tanggal =24

print(Tanggal, Bulan, Tahun, sep="/")

24/April/2009

Latihan:

Tanggal-Bulan-Tahun

In [ ]:
Nama_depan = "Andini"
Nama_belakang = "Aufa"

print(Nama_depan, Nama_belakang)

Andini Aufa

In [ ]:
Nama_depan = "Andini"
Nama_belakang = "Aufa"

print(Nama_depan, end=" ")
print(Nama_belakang)

Andini Aufa

#Tugas Jadwal Pelajaran

In [ ]:
print('Bu Shinta berkata, "berikut adalah judul pelajaran hari senin selasa rabu silakan disimpan di laptop masing-masing di folder local disk D:\\Jadwal Pelajaran\\Kelas Xl Semester l."')

print("\nJadwal Pelajaran Mingguan")
print("=====================================================")
print("Jam\tSenin\t\tSelasa\t\tRabu")
print("Jam 1\tMatematika\tBahasa\t\tInformatika")
print("Jam 2\tBahasa Ing.\tSejarah\t\tMa'rifatullah")
print("Jam 3\tInformatika\tOlahraga\tBiologi")

Bu Shinta berkata, "berikut adalah judul pelajaran hari senin selasa rabu silakan disimpan di laptop masing-masing di folder local disk D:\Jadwal Pelajaran\Kelas Xl Semester l."

Jadwal Pelajaran Mingguan
=====================================================
Jam	Senin		Selasa		Rabu
Jam 1	Matematika	Bahasa		Informatika
Jam 2	Bahasa Ing.	Sejarah		Ma'rifatullah
Jam 3	Informatika	Olahraga	Biologi

In [ ]:
nama_siswa_1 = "Naufal"
nama_siswa_2 = "Favian"
nama_siswa_3 = "Humaira"
nama_siswa_4 = "Favian"

print(nama_siswa_1, nama_siswa_2, nama_siswa_3, nama_siswa_4, sep="~")

Naufal~Favian~Humaira~Favian

In [ ]:
nama_siswa_1 = "Naufal"
nama_siswa_2 = "Favian"
nama_siswa_3 = "Humaira"
nama_siswa_4 = "Favian"

print(nama_siswa_1, end="~")
print(nama_siswa_2 )
print(nama_siswa_3, end="~")
print(nama_siswa_4)

Naufal~Favian
Humaira~Favian